 <div class="estimator">
    <h1>Raffle Estimator</h1>
     <section>
        <div>
            <%= @tickets %>
        </div>
        @
        <div>
            $ <%= @price %>
        </div>
        =
        <div>
            $ <%= @tickets * @price %>
        </div>
    </section>
</div>